<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=nome %></h1>
    <p><%=idade %></p>
    <p><%=profissao %></p>

    <ul>
        <% hobbies.forEach((hobbies)=>{%>
            <li><%=hobbies%></li>
        <%})%>
    </ul>

    <%if(premium){%>
        <h1>⭐ Usuário Premium</h1>
    <%}else{%>
        <h1> Usuário nao Premium</h1>
    <%}%>
</body>
</html>